.index_body {
    background-color: #FAF8F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#__next {
    position: absolute;
    min-width: 100vw;
}

.index_r1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7%;
}

.index_r2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.index_imagestack {
    display: grid;
}

.index_hanginglaundry {
    margin-top: 70%;
    margin-bottom: 50%;
}

.index_lingerieshadow {
    /* margin-right: 10%; */
    margin-bottom: 9%;
    width: 150px;
    height: 150px;
}

.index_orangeslingerie {
    margin-top: 5%;
}

.index_hanginglingerie {
    margin-top: 15%;
}

.index_lingerieclothesline {
    /* margin-right: 15%; */
}

.index_braflowers {
    margin-left: 10%;
}

.index_dresser {
    margin-left: 3%;
    margin-top: 6%;
    width: 200px;
    height: 200px;
}

.index_braclasp {
    margin-right: 8%;
}

.index_title_wrap {
    text-align: center;
}

.index_title {
    font-size: 1300%;
    font-family: Tempios Headline;
    font-style: italic;
    font-weight: 300;
}

.index_description_desktop {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 82.5%;
    padding-bottom: 15%;
}

.index_description_mobile {
    visibility: hidden;
}

.index_quiz_enter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 25%;
    font-size: 80%;
    font-family: Inter;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: -8%;
    margin-bottom: 4%;
}

.index_quiz_line {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.index_hanginglingeriebluesky {
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 5%;
    margin-top: -5%;
}

@media only screen and (max-width: 1000px) {
    .index_r1 {
        margin-top: -5%;
    }

    .index_hanginglaundry {
        /* visibility: hidden;
        display: none; */
        margin-top: 200%;
    }

    .index_lingerieshadow {
        /* visibility: hidden;
        display: none; */
        margin-bottom: 60%;
        margin-top: 100%;
    }

    .index_orangeslingerie {
        visibility: hidden;
        display: none;
        /* margin-top: 5%;
        margin-right: 5%;
        margin-left: 8%; */
    }

    .index_hanginglingerie {
        visibility: hidden;
        display: none;
    }

    .index_lingerieclothesline {
        visibility: hidden;
        display: none;
    }

    .index_braflowers {
        visibility: hidden;
        display: none;
    }

    .index_dresser {
        visibility: hidden;
        display: none;
    }

    .index_braclasp {
        /* visibility: hidden;
        display: none; */
    }

    .index_brahangingsunset {
        visibility: hidden;
        display: none;
    }

    .index_title_wrap {
        padding-top: 20%;
        justify-content: center;
    }

    .index_title {
        font-size: 700%;
    }

    .index_description_mobile {
        visibility: visible;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 82.5%;
        padding-bottom: 2%;
        margin-top: 5%;
        letter-spacing: 0.095em;
    }

    .index_description_desktop {
        visibility: hidden;
        display: none;
    }

    .index_quiz_enter {
        margin-top: -10%;
        margin-bottom: 0%;
    }

    .index_lingerieshadow_mobile {
        margin-top: 6%;
    }

    .index_r2 {
        visibility: hidden;
        display: none;
    }

    .index_perfectbra {
        visibility: visible;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 82.5%;
        /* padding-bottom: 2%; */
        /* margin-top: 5%; */
        letter-spacing: 0.095em;
        font-size: 117%;
    }
}

@media only screen and (max-width: 450px) {
    .index_r1 {
        margin-top: 8%;
    }

    .index_title_wrap {
        font-size: 75%;
    }

    .index_hanginglaundry {
        visibility: hidden;
        display: none;
    }

    .index_lingerieshadow {
        visibility: hidden;
        display: none;
    }

    .index_orangeslingerie {
        visibility: hidden;
        display: none;
    }

    .index_hanginglingerie {
        visibility: hidden;
        display: none;
    }

    .index_lingerieclothesline {
        visibility: hidden;
        display: none;
    }

    .index_braflowers {
        visibility: hidden;
        display: none;
    }

    .index_dresser {
        visibility: hidden;
        display: none;
    }

    .index_braclasp {
        visibility: hidden;
        display: none;
    }

    .index_brahangingsunset {
        visibility: hidden;
        display: none;
    }

    .index_title_wrap {
        padding-top: 15%;
    }

    .index_title {
        font-size: 900%;
    }

    .index_description_mobile {
        visibility: visible;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 82.5%;
        padding-bottom: 2%;
        margin-top: 5%;
        font-size: 130%;
        text-align: center;
    }

    .index_description_desktop {
        visibility: hidden;
        display: none;
    }

    .index_quiz_enter {
        margin-top: 20%;
    }

    .index_lingerieshadow_mobile {
        margin-top: 6%;
    }
}