@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.cdnfonts.com/css/tiempos-headline');

html {
  font-family: 'Roboto';
}

html,
body {
  min-height: 100%;
  background-color: #FAF8F1;
}

.grayBackdrop {
  background: #F2F2F2;
  height: 700px;
  width: 100vw;
  top: 0%;
  left: 0%;
  position: relative;
}

.threeRectContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 700px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#landingh1 {
  font-family: 'tempios-headline';
}

.quizh1 {
  font-family: 'Tiempos Headline';
  font-weight: lighter;
  margin: 0;
}

#questionh1 {
  font-family: 'roboto';
}

.questionTop {
  background-color: black;
  height: 220px;
  width: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.questionBottom {
  background-color: white;
  width: 220px;
  height: 140px;
  position: relative;
}

.aboutBottom {
  background-color: #F2F2F2;
  width: 220px;
  height: 140px;
  position: relative;
}

.questionh3 {
  font-family: 'roboto';
  text-align: center;
  margin: 0;
  position: absolute;
  left: 9%;
  top: 11%;
  font-weight: 200;
}

.questionh5 {
  font-family: 'roboto';
  position: absolute;
  left: 7%;
  top: 20%;
  padding: 2%;
  font-weight: 200;
}


.questionContent {
  position: absolute;
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 8%;
}

.resultsRecDiv {
  height: 42%;
  position: absolute;
  top: 9%;
}

.resultsRecDetailsDiv {
  width: 39%;
  height: 35%;
  background-color: white;
  position: absolute;
  bottom: 9%;
  padding-left: 4%;
}

.signupInput {
  width: 30%;
  height: 7%;
  padding-left: 1%;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
}

.eachQuestion {
  height: 360px;
}

.column {
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
}

.general {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neutralize {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .footer_container {
    visibility: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .footer_container {
    visibility: hidden;
  }
}