.hamburger-menu {
    padding: 4%;
    width: 50%;
    float: right;
    background: #FAF8F1;
    padding-right: 0%;
    height: 100vh;
    background: transparent;
    backdrop-filter: unset;
    display: none;
}

.disappear {
    display: none;
    visibility: hidden;
}

.blur-hamburger {
    padding: 4%;
    width: 50%;
    float: right;
    background: #FAF8F1;
    padding-right: 0%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

.mobile-sign-in-wrapper {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-bottom: 10%;
    margin-right: 10%;
}

.mobile-sign-in {
    width: fit-content;
    margin-bottom: 3%;
    font-family: 'Inter';
    text-align: center;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    border-radius: 55px;

}

.blur-background {
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.5);
    height: 100vh;
}

.no-blur {
    z-index: -10;
    backdrop-filter: none;
    background: transparent;
    height: 100vh;
}

.menu-toggle {
    margin-bottom: 10%;
    float: right;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
}

.menu-items {
    margin-left: 2%;
    width: 80%;
}

.navigation {
    /* for tablet: width 50% */
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

.navigation_q1 {
    /* for tablet: width 50% */
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

.mobile-image-wrapper {
    display: flex;
}

.mobile-logo {
    float: left;
    /* margin-top: 1%;
    margin-left: 2%; */
    /* padding: -4%; */
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.delete-menu {
    width: 3%;
    margin-left: 90%;
}

/* for mobile view: visible during mobile view */
@media only screen and (max-width: 1000px) {
    .navigation_q1 {
        visibility: visible;
        position: absolute;
        width: 50%;
        margin-left: 50%;
    }

    .navigation {
        visibility: visible;
        position: absolute;
    }
}

@media only screen and (max-width: 468px) {
    .navigation_q1 {
        visibility: visible;
        position: absolute;
        width: 100%;
        margin-left: 0%;
    }

    .navigation {
        visibility: visible;
        /* position: absolute; */
        display: block;
        width: 100%;
        margin-left: 0%;
        /* padding-right: 3%; */
        /* padding-left: 5%;
        padding-top: 5%; */
    }

    .delete-menu {
        width: 8%;
        margin-left: 85%;
    }

    .mobile-logo {
        padding-left: 7%;
        padding-top: 6%;
    }

    .menu-toggle {
        padding-right: 6%;
        padding-top: 5%;
    }
}