.hamburger-menu {
    padding: 4%;
    width: 50%;
    float: right;
    background: #FAF8F1;
    padding-right: 0%;
    height: 100vh;
    background: transparent;
    backdrop-filter: unset;
    display: none;
}

.blur-hamburger {
    padding: 4%;
    width: 50%;
    float: right;
    background: #FAF8F1;
    padding-right: 0%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}

.blur-background {
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.5);
    height: 100vh;
}

.no-blur {
    z-index: -10;
    backdrop-filter: none;
    background: transparent;
    height: 100vh;
}

.menu-toggle {
    margin-bottom: 10%;
    float: right;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}

.menu-items {
    margin-left: 2%;
}

.navigation {
    /* for tablet: width 50% */
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

.navigation_q1 {
    /* for tablet: width 50% */
    width: 100%;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}

.mobile-image-wrapper {
    display: flex;
}

.mobile-logo {
    float: left;
    /* margin-top: 1%;
    margin-left: 2%; */
    /* padding: -4%; */
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}

.delete-menu {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* for mobile view: visible during mobile view */
@media only screen and (max-width: 1000px) {
    .navigation_q1 {
        visibility: visible;
        position: absolute;
        width: 50%;
        margin-left: 50%;
    }

    .navigation {
        visibility: visible;
        position: absolute;
    }
}

@media only screen and (max-width: 468px) {
    .navigation_q1 {
        visibility: visible;
        position: absolute;
        width: 100%;
        margin-left: 0%;
    }

    .navigation {
        visibility: visible;
        /* position: absolute; */
        display: block;
        width: 100%;
        margin-left: 0%;
    }
}