.question1-wrapper {
    width: 100%;
    height: 100%;
}

.question_body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    float: right;
    margin-top: 5%;
}

.question1_body {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    float: right;
    margin-top: 15%;
}

.hanging-pink-tops {
    position: absolute;
    height: 100%;
    width: 50%;
    float: left;
    z-index: -5;
}

.question1_container {
    width: 5%;
    height: 40%;
    margin-right: 1%;
    margin-top: 30%;
}

.question_break_back_button {}

.question_count_container {
    width: 5%;
    height: 40%;
    text-align: right;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: 1%;
    margin-top: 10%;
}

.question_count {
    font-family: Inter;
    font-weight: 700;
    font-size: 100%;
    margin-top: 8%;
}

.question_count_arrow {
    font-size: 90%;
    margin-top: 10%;
}

.question_block {
    width: 56%;
    height: 40%;
    margin-top: 10.5%;
}

.question_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 35%;
}

.question_container2 {
    text-align: left;
    width: 100%;

}

.question_title {
    font-size: 150%;
    font-family: Tiempos Headline;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
}

.question_images_container {
    height: auto;
    overflow-Y: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #FAF8F1;

}

.question_image_selected {
    background-color: white;
    width: 47%;
    /* height: 45%; */
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    padding-bottom: 0%;
    border: 1px solid black;
    border-radius: 5px;
}

.question_choose {
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 400;
    font-size: 18px;
    line-height: 109.5%; */
    /* or 20px */
    color: #000000;
    margin-bottom: 2%;
    margin-top: 5%;
}

.question_image_unselected {
    width: 47%;
    /* height: 45%; */
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    padding-bottom: 0%;
    background-color: #FAF8F1;
    border: 1px solid black;
    border-radius: 5px;
}

.question_image_container {
    width: 100%;
    height: 270px;
    position: relative;
    /* object-fit: cover;
    object-position: bottom; */
}

.question_image_title {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
}

.question_image_text {
    width: 100%;
    height: 100px;
    text-align: left;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
}

.question_break_container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 60%;
    padding-bottom: 30%;
    margin-top: 5%
}

.question_no_break_container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 60%;
    padding-bottom: 10%;
}

.question_end_button {
    border-radius: 2px;
    width: 20%;
    background-color: black;
    color: white;
    padding: 1%
}

.question_next_container {
    display: flex;
    align-items: center;
    width: 100%;

}

.question_next_button {
    border-radius: 5px;
    width: 15%;
    font-family: Inter;
    background-color: #FAF8F1;
    color: black;
    padding: 1%;
    border: 1px solid black;

}

.question_next_button:hover {
    cursor: pointer;
    background-color: #FAF8F1;
    border: 1px solid black;
}

.question_next_enter {
    color: #670224;
    font-family: Inter;
    font-weight: 400;
    font-size: 100%;
    margin-left: 2%;
    width: 50%;

}

.question_back_button_wrap {
    width: 100%;
    margin-bottom: 10%;
}

.question_back_button {
    border-radius: 5px;
    width: 6%;
    font-family: Inter;
    background-color: #FAF8F1;
    color: black;
    padding: 0.5%;
    border: 1px solid black;
    position: absolute;
    margin-left: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.question_back_break_button {
    border-radius: 5px;
    width: 6%;
    font-family: Inter;
    background-color: #FAF8F1;
    color: black;
    padding: 0.5%;
    border: 1px solid black;
    position: absolute;
    margin-left: 50%;
    padding-left: 6%;
    padding-right: 6%;
}

.question_text_images_container {
    width: 50%;
    height: 110%;
    position: relative;

}

.question_text_options_container {
    width: 100%;
}

.question_dropdown_options_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.question_dropdown_sub_options_container {
    width: 50%;
}

.question_text_box {
    width: 100%;
    margin-bottom: 5%;
    font-family: Inter;
    margin-top: 20px;
}

.question_dropdown {
    width: 50%;
    margin-bottom: 5%;
    font-family: Inter;
    margin-top: 20px;
}

.question_tags_container {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1%;
    margin-top: 1%;
}

.question_tag_selected {
    background: linear-gradient(180deg, rgba(103, 2, 36, 0.83) -10%, #670224 87.03%, rgba(103, 2, 36, 0) 188.18%, rgba(103, 2, 36, 0.95) 188.18%);
    color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 55px;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    font-family: Inter;
    border: none
}

.question_tag {
    background-color: #FAF8F1;
    color: black;
    border-radius: 55px;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    font-family: 'Inter';
    border: 1px solid black;
}

.question_mc_container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
    margin-top: 3%;
}

.question_mc_selected {
    background: linear-gradient(180deg, rgba(103, 2, 36, 0.83) -10%, #670224 87.03%, rgba(103, 2, 36, 0) 188.18%, rgba(103, 2, 36, 0.95) 188.18%);
    color: white;
    margin-right: 3%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    font-family: Inter;
    border: none
}

.question_mc {
    background-color: #FAF8F1;
    color: black;
    margin-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: capitalize;
    font-family: 'Inter';
    border: 1px solid black;

}

.quiz-link {
    margin-bottom: 5%;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}

@media only screen and (max-width: 1000px) {
    .question_block {
        margin-top: 25%;
    }

    .question_count_container {
        margin-top: 15%;
    }

    .question_next_enter {
        margin-left: 13%;
    }

    .question_body {
        margin-top: 0%;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .question1_body {
        margin-top: 8%;
    }

    .question_image_unselected {
        width: 100%;
    }

    .question_image_selected {
        width: 100%;
    }

    .question_image_container {
        width: 90%;
        max-height: 330px;
        margin-top: 3%;
    }

    .question_back_button_wrap {
        width: 100%;
        margin-bottom: 20%;
    }

    .question_back_button {
        padding-left: 7%;
        padding-right: 7%;
    }

    .question_back_break_button {
        padding-left: 11%;
        padding-right: 11%;
    }

}


@media only screen and (max-width: 450px) {
    .question_no_break_container {
        margin-top: 3%;
    }

    .question1_container {
        display: none;
        visibility: hidden;
    }

    .hanging-pink-tops {
        display: none;
    }

    .question_block {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    .question1_body {
        margin-top: 50%;
        width: 100%;
    }

    .question_next_enter {
        visibility: hidden;
        display: none;
    }

    .question_body {
        display: block;
        margin-top: 0%;
        padding-top: 25%;
    }

    .question_count_container {
        margin-left: 17%;
    }

    .question_back_button {
        padding-left: 12%;
        padding-right: 12%;
        /* margin-right: 5%; */
    }

    .question_images_container {
        width: 100%;
    }

    .question_image_unselected {
        width: 100%;
        /* height: 100px; */
    }

    .question_image_container {
        height: 200px;
    }

    .question_image_text {
        width: 90%;
        font-size: 100%;
        margin-bottom: 3%;
    }

    .question_image_title {
        width: 90%;
        font-size: 100%;
    }

    .question_mc_container {
        display: flex;
        width: 90%;
        height: fit-content;
    }

    .question_mc {
        width: fit-content;
        padding-left: 25%;
        padding-right: 25%;
    }
}